@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
    line-height: 1.1em;
}

